<script language="JavaScript" type="text/javascript">
   $(document).ready(function() {
      {{#if resetPasswordToken}}
         $("#set_password_password").focus();
      {{else}}
         $("#forgot_password_email").focus();
      {{/if}}
   });

   function submitResetPasswordForm() {
      var messages = new org.cmucreatelab.esdr.Messages();
      var form = $("#reset_password_form");
      var errorMessagesElement = $("#forgot_password_error_messages");
      var successMessagesElement = $("#forgot_password_success_messages");
      errorMessagesElement.empty().hide();
      successMessagesElement.empty().hide();

      {{#if resetPasswordToken}}

         var passwordElement = $('#set_password_password');
         var passwordConfElement = $('#set_password_password_conf');

         var password = passwordElement.val();
         var passwordConf = passwordConfElement.val();

         if (password.length < 1) {
            messages.add("Please enter your new password.");
            passwordElement.focus();
         }
         else if (passwordConf.length < 1) {
            messages.add("Please enter the new password again to confirm you typed it correctly.");
            passwordConfElement.focus();
         }
         else if (password != passwordConf) {
            messages.add("Passwords must match.");
         }

         if (messages.isEmpty()) {
            setFormEnabled(form, false);
            superagent
                  .put("{{apiRootUrl}}/password-reset")
                  .send({password : password, token : '{{resetPasswordToken}}'})
                  .end(function(err, res) {
                          setFormEnabled(form, true);
                          console.log(JSON.stringify(res.body, null, 3));
                          if (res.status == 200) {
                             form.hide();
                             messages.add('Success! You may now <a href="/login">log in</a> using your new password.');
                             messages.render(successMessagesElement);
                          }
                          else {
                             if (res.status == 400) {
                                messages.add('Sorry, your password cannot be changed at this time (invalid or expired reset token).  Please try <a href="/password-reset">resubmitting your request</a> to change your password.');
                             }
                             else if (res.status == 422) {
                                if (res.body.data &&
                                    res.body.data.length > 0 &&
                                    res.body.data[0].instanceContext == '#/password' &&
                                    res.body.data[0].constraintName == 'minLength') {
                                   messages.add("Sorry, that is not a valid password. Passwords must be at least " + res.body.data[0].constraintValue + " characters long.");
                                }
                                else {
                                   messages.add("Sorry, that is not a valid password.");
                                }
                             }
                             else {
                                messages.add("Sorry, an unexpected error occurred while trying to set the new password.  Please contact us for help.");
                             }
                             passwordElement.focus();
                             messages.render(errorMessagesElement);
                          }
                       });
         }
         else {
            messages.render(errorMessagesElement);
         }

      {{else}}
         var emailElement = $("#forgot_password_email");
         var email = emailElement.val().trim();

         if (email.length < 1) {
            messages.add("Please enter your email address.");
         }

         if (messages.isEmpty()) {
            setFormEnabled(form, false);
            superagent
                  .post("{{apiRootUrl}}/password-reset")
                  .send({email : email})
                  .end(function(err, res) {
                          setFormEnabled(form, true);
                          console.log(JSON.stringify(res.body, null, 3));
                          if (res.status == 201) {
                             form.hide();
                             messages.add("Please check your email for instructions on how to reset your password.");
                             messages.render(successMessagesElement);
                          }
                          else {
                             if (res.status == 401) {
                                messages.add("Sorry, an unexpected error occurred (HTTP Status " + res.status + "). Please try again later or contact us for help.");
                             }
                             else if (res.status == 422) {
                                messages.add("Sorry, that doesn't appear to be a valid email address.");
                             }
                             else if (res.status < 500) {
                                messages.add("Sorry, we don't recognize that email address.");
                             }
                             else {
                                messages.add("Sorry, an unexpected error occurred (HTTP Status " + res.status + "). Please try again later or contact us for help.");
                             }
                             emailElement.focus();
                             messages.render(errorMessagesElement);
                          }
                       });
         }
         else {
            messages.render(errorMessagesElement);
         }
      {{/if}}

      return false;
   }
</script>
<div class="container card main_container">
   <div class="card-body">
      {{#if resetPasswordToken}}
         <h2>
            Set New Password
         </h2>
         <div class="page_instructions">
            Please enter your new password.
         </div>
      {{else}}
         <h2>
            Forgot Password
         </h2>
         <div class="page_instructions">
            Please enter your email address. We will send you an email with instructions on how to reset your password.
         </div>
      {{/if}}
      <div id="forgot_password_error_messages" class="form_messages alert alert-danger"></div>
      <div id="forgot_password_success_messages" class="form_messages alert alert-success"></div>
      <form role="form" id="reset_password_form" class="big_form" onsubmit="return submitResetPasswordForm();">
         {{#if resetPasswordToken}}
            <div class="form-group">
               <input type="password" class="form-control" id="set_password_password" name="set_password_password" placeholder="New password"/>
            </div>
            <div class="form-group">
               <input type="password" class="form-control" id="set_password_password_conf" name="set_password_password_conf" placeholder="Repeat password"/>
            </div>
         {{else}}
            <div class="form-group">
               <input type="email" class="form-control" id="forgot_password_email" name="forgot_password_email" placeholder="Email address"/>
            </div>
         {{/if}}
         <div class="form-group">
            <button type="submit" class="btn btn-primary float-right">{{#if resetPasswordToken}}Change Password{{else}}Submit{{/if}}</button>
         </div>
      </form>
   </div>
</div>
